@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using JS.Abp.DataDictionary.Permissions
@using JS.Abp.DataDictionary.Web.Pages.DataDictionary.DataDictionaries
@using JS.Abp.DataDictionary.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using JS.Abp.DataDictionary.Localization
@inject IHtmlLocalizer<DataDictionaryResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["DataDictionaries"].Value;
    PageLayout.Content.MenuItemName = DataDictionaryMenus.DataDictionaries;
}

@section styles
{

}

@section scripts
{
    <abp-script src="/Pages/DataDictionary/DataDictionaries/index.js" />

}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(DataDictionaryPermissions.DataDictionaries.Create))
    {
        <abp-button id="NewDataDictionaryButton" text="@L["NewDataDictionary"].Value" icon="plus" size="Small" button-type="Primary" />
    }

}



<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="CodeFilter" label="@L["DataDictionary:Code"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="DisplayTextFilter" label="@L["DisplayText"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="DescriptionFilter" label="@L["Description"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="IsActiveFilter" label="@L["IsActive"].Value" />
            </abp-column>

        </abp-row>

        <abp-table striped-rows="true" id="DataDictionariesTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["DataDictionary:Code"]</th>
					<th>@L["DisplayText"]</th>
					<th>@L["Description"]</th>
					<th>@L["IsActive"]</th>


				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>

